* {
  margin: 0;
  padding: 0;
}
body {
  background: black;
}
header {
  display: flex;
  background: hsl(184, 100%, 22%);
  padding: 40px 0;
  margin: 10px 0;
  list-style: none;
  justify-content: center;
  color: #fff;
}
.link a {
  width: 100%;
}
a {
  display: flex;
  flex-direction: row;
  color: hsla(0, 0%, 100%, 0.75);
  text-decoration: none;
  border: 1px solid hsl(31, 77%, 52%);
  border-radius: 20px;
  width: 100%;
  padding: 5px;
  justify-content: center;
}
.flex,
.grid {
  color: #fff;
  margin: 10px;
  font-size: 20px;
  text-decoration: none;
  transition: all 40ms ease;
}
.flex:hover,
.grid:hover {
  width: 100%;
  background: hsl(31, 77%, 52%);
  text-decoration: none;
  border-radius: 20px;
}

.layout__1 {
  background: red;
  grid-area: lay1;
}
.layout__2 {
  background: orange;
  grid-area: lay2;
}
.layout__3 {
  background: green;
  grid-area: lay3;
}
.layout__4 {
  background: blue;
  grid-area: lay4;
}
.layout__5 {
  background: blue;
  grid-area: lay5;
}
main {
  margin-top: 120px;
}

.grid__container {
  margin: auto;
  width: 50%;
  display: grid;
  gap: 8px;
  grid-template-areas:
    "lay1 lay1 lay1 lay1 lay2 lay2"
    "lay1 lay1 lay1 lay1 lay2 lay2"
    "lay3 lay3 lay3 lay4 lay4 lay4"
    "lay3 lay3 lay3 lay5 lay5 lay5";
}
.layout__1 {
  padding: 100px 70px;
}
.layout__2,
.layout__3,
.layout__4,
.layout__5 {
  padding: 50px 70px;
}
